@tailwind base;
@tailwind components;
@tailwind utilities;


.antd-dropdown ul{
  border-radius: 0px !important;
  background-color: #dbeafe !important;
  overflow: visible !important;
}

/* .syntax-highlighter {
  display: block !important;
  overflow: scroll !important;
} */

.syntax-highlighter::-webkit-scrollbar {
  width: 0;
}
.antd-dropdown ul li {
  padding: 0 !important;
}
.ant-drawer-content {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left: #ff4f08 !important;
  background-color: #3b54f3 !important; 
}
*{
  text-shadow: 5px 5px 10px #2b2a2a;
}
.no-shadow, .no-shadow * {
  text-shadow: none !important;
}
.light-shadow {
  text-shadow: 5px 5px 10px #2b2a2a;
}

body::-webkit-scrollbar {
  width: 0;
}

#particles canvas {
  z-index: -1;
  height: 90%;
  width: 100%;
  position: absolute;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
