@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-drawer-content {
  background-color: #1E2F97 !important; 
}
*{
  text-shadow: 5px 5px 10px #2b2a2a;
}

.light-shadow {
  text-shadow: 5px 5px 10px #2b2a2a;
}

body::-webkit-scrollbar {
  width: 0;
}

#particles canvas {
  z-index: -1;
  height: 90%;
  width: 100%;
  position: absolute;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
